node-red/flows.json
[{"id":"7f81120e95e06832","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"66d7d3d9.2cf2bc","type":"server","name":"Home Assistant","addon":true},{"id":"165b049197a44d30","type":"whin_config","name":"whin","apikey":"ee3f1e8cc5mshe86d88f8f7507eap1cdf5djsn4333bbc8c759"},{"id":"d1534e6aa3ab850f","type":"whin_send","z":"7f81120e95e06832","name":"","auth":"165b049197a44d30","x":390,"y":200,"wires":[["4eb1613735f30661"]]},{"id":"b57ebcd11bc5a6d5","type":"whin_receive","z":"7f81120e95e06832","name":"","auth":"165b049197a44d30","inputtype":"button","buttonState":true,"inputs":0,"x":390,"y":260,"wires":[["4eb1613735f30661"]]},{"id":"11a6641c4657aa73","type":"whin_group_commander","z":"7f81120e95e06832","name":"","auth":"165b049197a44d30","x":370,"y":480,"wires":[[]]},{"id":"76b0523de8e2904d","type":"inject","z":"7f81120e95e06832","name":"text","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"text\": \"uwu\"}","payloadType":"msg","x":210,"y":180,"wires":[["d1534e6aa3ab850f"]]},{"id":"ca2c43cc043f24f3","type":"ha-button","z":"7f81120e95e06832","name":"","version":0,"debugenabled":false,"outputs":1,"entityConfig":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":150,"y":240,"wires":[[]]},{"id":"4eb1613735f30661","type":"debug","z":"7f81120e95e06832","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":240,"wires":[]}]